
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.jumbotron{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 0px;
  height: 250px;
  font-family: 'IM Fell English SC', serif;
}

.logo{
  height: 128px;
  margin-top: 50px;
}

.title{
  color: white;
  margin-top: 10px;
}

.columnTitles{
  font-family: 'IM Fell English SC', serif;
  font-size: 3rem;
}

div a {
  color: #5bc0de
}

div a:hover {
  color: #5bc0de
}

.DuelList, .DailyList {
  opacity: 0.95;
  background-color: #fff;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.duel-background {
  background-color: #fff;
  opacity: 0.9;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.duel-header{
  border-top-color: rgba(0, 0, 0, 0.125);
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 1rem;
}

.duel-body{
  padding: 1rem;
}
