
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.jumbotron{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 0px;
  height: 300px;
  font-family: 'IM Fell English SC', serif;
}

.row{
  height: 285px;
}

.logo{
  height: 128px;
  margin-top: 75px;
}

.title{
  color: white;
  margin-top: 10px;
}
